* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
font-family: 'Libre Baskerville', serif;
font-family: 'Ubuntu', sans-serif;
*/

/* ------- HEADER----------- */
header {
  text-align: center;
  background-color: rgb(245, 236, 225);
}

.masthead {
  padding: 1rem;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 4px;
}

h4 {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

h4:before,
h4:after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 2%;
}

h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h4:after {
  left: 0.5em;
  margin-right: -50%;
}

.masthead p {
  font-family: 'Libre Baskerville', serif;
  font-size: small;
}

.nav-list {
  background-color: #000;
  padding: 0.4rem;
}

.nav-list ul {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.75rem;
}

.nav-list .active {
  padding: 0.2rem;
}

.active {
  background-color: rgb(204, 92, 107);
  width: 15%;
}

.nav-list li:hover {
  background-color: rgb(204, 92, 107);
  width: 15%;
  padding: 0.2rem;
}

/* ------------ FAQS SECTION --------- */

main {
  background-image: url(./alain-pham-P_qvsF7Yodw-unsplash.jpg);
  /* background-repeat: repeat; */
  background-size: cover;
}
.container {
  width: 50%;
  height: 180vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(245, 236, 225);
}

h3 {
  font-family: 'Libre Baskerville', serif;
}

.faq {
  margin: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(204, 92, 107);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px rgb(88, 88, 88);
}

.question h3 {
  padding: 0.8rem;
  font-size: 0.8rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  padding: 1rem;
  height: 100%;
  background-color: #000;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
}
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.answer {
  padding: 0.75rem;
  display: none;
}
/* ---------- FOOTER ----------- */
footer {
  background-color: rgb(243, 228, 209);
  text-align: center;
  padding: 0.75rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*---------- MEDIA QUERIES ------------ */
@media only screen and (max-width: 850px) {
  .container {
    width: 80%;
  }
  h1 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  .masthead p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 490px) {
  h1 {
    font-size: medium;
  }
  .container {
    width: 85%;
    padding: 1rem;
  }

  .question h3 {
    font-size: 0.7rem;
  }
}
